.logo-vertical img {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 100px;
  margin-top: 85px;
  margin-left: 10px;
}

.logo-container, .navbar {
  background-color: #022929;
  width: 1120px;
  height: 70px;
}

.logo-container img {
  background-color: #066666;
  width: 90px;
  height: 30px;
  padding: 3px;
  margin-top: 10px;
}

.nav-link {
  background-color: #066666;
  color: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Tahoma", "sans-serif";
  padding: 2px 25px;
}

.nav-item {
  padding-right: 2px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1120px;
}

.main-container-left {
  background-color: #1e3a3a;
  border: solid 10px #066666;
  width: 70%;
}

.main-container-left p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Tahoma", "sans-serif";
  text-indent: 20px;
  padding: 10px;
}

.main-container-left h1 {
  color: #ffffff;
  font-size: 60px;
  font-family: "Verdana", "sans-serif";
  padding-left: 10px;
}

hr {
  border-top: solid 1px #000000;
  -webkit-box-shadow: 0 1px 2px 0 #ffffff;
          box-shadow: 0 1px 2px 0 #ffffff;
}

.main-container-right {
  background-color: #022929;
  border: solid 10px #055252;
  width: 30%;
}

.main-container-right h3 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

.fa-envelope {
  color: #ffffff;
  width: 40px;
  height: 40px;
  background-color: #848484;
  text-align: center;
  padding-top: 13px;
  margin-left: 10px;
  cursor: pointer;
}

.article-categories {
  padding-left: 10px;
  list-style-type: none;
}

.article-categories a {
  color: #ffffff;
  text-decoration: underline;
}

.mail-icons {
  padding-bottom: 40px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.carousel-indicators li {
  width: 5px;
  border-radius: 100%;
  background-color: #000;
}

.dropdown-content {
  display: none;
  background-color: #066666;
  position: absolute;
  overflow: auto;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #ffffff;
}

.dropdown-content a:last-child {
  border: none;
}



.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
  height: 45px;
  background-color: #066666;
}

.footer-container-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.footer-container-left {
  color: #ffffff;
  margin: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.footer-li {
  list-style-type: none;
  text-decoration: underline;
  color: #ffffff;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.footer-li a {
  color: #ffffff;
  padding-right: 15px;
}

.hamburger-menu{
  display: none;
}

@media (max-width: 768px) {

  .hamburger-menu{
    display: block;
  }

  .logo-vertical img {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .nav-item, .nav-link {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    font-size: 12px;
    
  }
  .main-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-container-left, .main-container-right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar > button{
    display: block;
  }
  
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-container-right{
    background-color: #066666;
  }
  
  .nav {
    display: none;
  }
 
}
/*# sourceMappingURL=style.css.map */